<header>
    <span class="logotipo"> Dev </span>
    <nav>
        <ul class="nav-links">
            <li> <a href="/"> Home </a></li>
            <li> <a href="/sobre"> Profissional </a></li>
            <li> <a href="#"> Contato </a></li>
        </ul>
    </nav>
    
</header>
@code {

}
