@page "/counter"
@* @rendermode InteractiveServer *@

<PageTitle> Counter </PageTitle>
<h2> Educação </h2>
<hr />
<p>
    2019 - 2022 <br>
    Ensino Fundamental (1º grau). <br>
    Gonçalves Dias, GD, Brasil.
</p>

<p>
    2023 <br>
    Ensino Médio (2º grau) em andamento. <br>
    IFRO/ Campus Ji-Paraná, IFRO, Brasil.
</p>
<hr />
<h2> Experiência </h2>
<h5> PROJETO SISGHA MOBILE, IFRO CAMPUS JI-PARANÁ — UX/UI DESIGN  </h5>
<p> Desenvolvi a interface gráfica de um sistema mobile para o <br> 
    gerenciamento de Horário e calendários acadêmicos utilizando o Figma, garantindo <br> 
    uma experiência responsiva ao usuário migrar do sistema web para mobile. </p>
<br>
<h5> NBS Telecom, JI-PARANÁ — ESTÁGIO </h5>
<p> Desenvolvi sistemas com as funcionalidades CRUD (create, read, update e delete) <br> 
    para um banco de dados de gerenciamento de pessoas com as tecnologias <br> 
    em JS, html, css e PHP. </p>

<hr />
<h2> Habilidades Técnicas </h2>
<h5> Soft Skils -  Habilidades comportamentais </h5>
<p> Comunicação, trabalho em equipe, liderança, criatividade e hábil pelo aprendizado </p>
<br>
<h5> Hard Skils -  Ferramentas </h5>
<p> DESENVOLVIMENTO WEB: HTML (intermediário), CSS (intermediário), JavaScript (básico), PHP (básico) e C# (intermediário)  </p>
<p> UX/UI DESIGN: Wireframes (intermediário) e protótipos no Figma (avançado) </p>
@* <h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@