/* estilio dos cards */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    margin: 70px;
    place-items: center;
}
/* estilio do header */
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li, a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 15px;
    background-color: #49c5b6;
}

.logotipo {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px
}

.nav-links li a:hover {
        color: #2779a7;
}

@media(max-width:800px) {
    li, a {
        font-size: 12px;
    }
}

/* estilo divs home */
.div1{
    margin: 24px;
}

.div1 h1 {
        color: #2779a7;
        font-weight: bold;
        font-family: 'Segoe UI'
}

.div1 h4 {
    color: #49c5b6;
    font-weight: 600;
     font-family:'Segoe UI'
}

#imgPerfil {
    width: 60%;
    height: 50%;
    border-radius: 100%;
}
p{
    font-family: 'Segoe UI';
    font-size: 18px;
}

        