@page "/curriculo"
@layout Layout.BaseLayout

<header>
    <span class="logotipo"> Dev </span>
    <nav>
        <ul class="nav-links">
            <li> <a href="#home"> Home </a></li>
            <li> <a href="#profissional"> Profissional </a></li>
            <li> <a href="#habilidades"> Habilidades </a></li>
            <li> <a href="#contato"> Contato </a></li>
        </ul>
    </nav>

</header>
<div id="home">
    <div class="parent">
        <div class="div1">
            <h1> Fabrine Vinente Velame </h1>
            <h4> Estudante de tecnologia </h4>
            <p> Olá! Sobre mim, sou aspirante a profissional de tecnologia criativa, estou no último ano de um curso técnico em Informática integrado ao ensino médio. Dedicada com forte interesse em Design UX/UI, na criação de protótipos no Figma, e desenvolvimento web com as tecnologias HTML, CSS e JS. </p>
        </div>
        <div class="div2-img">
           
            <img id="imgPerfil" src="imagemFabrine.jpeg"/>
           
        </div>
    </div>
</div>

<div id="profissional">
    <div class="parent-prof">
        <div class="div1">
            <h2> Educação </h2>
            <p>
                Ensino Fundamental (Gonçalves Dias, GD) <br>
                (2019 - 2022)
            </p>
            <p>
                Ensino Médio em andamento (IFRO/ Campus Ji-Paraná) <br>
                (2023-...)
            </p>
            <p>
                Curso Complementar Figma (IFRO/ Campus Ji-Paraná) <br>
                (2023-...)
            </p>
            <p>
                Curso Complementar GitHub (IFRO/ Campus Ji-Paraná) <br>
                (2023-...)
            </p>
        </div>
        <div class="div2">
            <h2> Experiência </h2>
            <h5> PROJETO SISGHA MOBILE, IFRO/ Campus Ji-Paraná — UX/UI DESIGN  </h5>
            <p>
                Desenvolvi a interface gráfica de um sistema mobile para o gerenciamento de Horário e calendários acadêmicos 
                utilizando o Figma, garantindo uma experiência responsiva ao usuário migrar do sistema web para mobile.
            </p>
            <h5> NBS TELECOM, Ji-Paraná — Estágio </h5>
            <p>
                Desenvolvi sistemas com as funcionalidades CRUD (create, read, update e delete) para um banco de dados de 
                gerenciamento de pessoas com as tecnologias em JS, HTML, CSS e PHP.
            </p>
        </div>
    </div>

</div>
<div class="habilidades">
        <h2> Habilidades Técnicas </h2>
    <div class="div1">
        <h5> Soft Skils -  Habilidades comportamentais </h5>
        <p> Comunicação, trabalho em equipe, liderança, criatividade e hábil pelo aprendizado </p>
    </div>
    <div class="div2">
        <h5> Hard Skils -  Ferramentas </h5>
        por imagem
        <p> DESENVOLVIMENTO WEB: HTML (intermediário), CSS (intermediário), JavaScript (básico), PHP (básico) e C# (intermediário)  </p>
        <p> UX/UI DESIGN: Wireframes (intermediário) e protótipos no Figma (avançado) </p>

    </div>
</div>
<div id="contato">
   <footer>
        <p>
            Telefone: 69 9 8986-1661 <br />
            Linkedin: Fabrine Vinente  <br />
            Local: Ji-Paraná, RO <br /> 
        </p>
        <p>&copy; 2025 Fabrine V.V. Todos os direitos reservados.</p>
   </footer>
</div>





@code {

}
