@page "/"

<PageTitle> Curículo </PageTitle>
<style>
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 0fr);
        gap: 8px;
    }

    .div1 {
        grid-column: span 3 / span 1;
    }

    .div2 {
        grid-row-start: 2;
    }

    .div3 {
        grid-column: span 2 / span 2;
        grid-row-start: 2;
        width: 80%;
        background-color:aliceblue;
        padding: 16px;
        border-radius: 8px;
    }

    .table-contat{
        width: 100%;
    }
</style>
<div class="parent">
    <div class="div1">
        <h1> Fabrine Vinente Velame </h1>
        <h4> Estudante de tecnologia </h4>
        <hr />
    </div>
    <div class="div2">
        <h2> Decrição </h2>
        <p> Aspirante a profissional de tecnologia criativa, estou no último <br> ano de um curso técnico em Informática integrado ao ensino médio.</p>
        <p> Dedicada com forte interesse em Design UX/UI, na criação de protótipos <br> no Figma, e desenvolvimento web com as tecnologias HTML, CSS e JS. </p>
    </div>
    <div class="div3">
        <h3 style="padding:4px"> Contato </h3>
        <p> 
            Telefone: 69 9 8986-1661 <br />
            Linkedin: Fabrine Vinente  <br />
            Local: Ji-Paraná, RO <br />
            Idade: 17 anos <br />
            Idioma: Português - BR <br />
        </p>
       
    </div>
</div>



