@page "/"

<PageTitle>Home</PageTitle>

<h1> Fabrine Vinente Velame </h1>
<h4> Estudante de tecnologia </h4>
<hr />
<h2> About Me - Sobre Mim </h2>
<p> Aspirante a profissional de tecnologia criativa, estou no último <br> ano de um curso técnico em Informática integrado ao ensino médio.</p>
<p> Dedicada com forte interesse em design UX/UI, na criação de protótipos <br> no Figma, e desenvolvimento web com as tecnologias HTML, CSS e JS. </p>

<table>
    <tbody>
        <tr>
            <td> Contato: </td>
            <td> 69 9 8991-5656 </td>
        </tr>
        <tr>
            <td> Linkedin: </td>
            <td> Fabrine Vinente </td>
        </tr>
        <tr>
            <td> Local: </td>
            <td> Ji-Paraná, RO </td>
        </tr>
        <tr>
            <td> Idade: </td>
            <td> 17 anos </td>
        </tr>
        <tr>
            <td> Idioma:  </td>
            <td> Português - BR </td>
        </tr>
    </tbody>
</table>

Welcome to your new app.
